*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.bg-primary{
  background-color: #1ABC9C;
}

.bg-secondary{
  background-color: #2C3E50;
}

.bg-third{
  background-color: #3A546D;
}

.text-white{
  color: white;
}

.container{
  padding: 30px 0px;
}

.burger-btn{
  background: #2C3E50;
  color: white;
  line-height: normal;
}

nav a{
  padding: 0px 10px;
  vertical-align: middle;
  line-height: 3;
}


.fa-star{
  display: inline-block;
  vertical-align: middle;
}

.hero p{
  display: inline-block;
}

.container.hero{
  max-width: 600px;
  margin: auto;
}

.hero img{
  width: 25%;
}

.portfolio img{
  width: 100%;
  margin-top: 25px;
  border-radius: 5px;
  display: block;
}

.box-portfolio{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #1ABC9C;
}

.fa-plus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
}

.box-portfolio:hover .overlay {
  opacity: 0.8;
}

.small_container{
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
}

.custom_btn{
  background-color: #1ABC9C;
  border: 1px solid white;
  color: white;
  margin: 15px 0px;
}

.form-control{
  display: block;
  border: none;
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
  border-radius: 0px;
  padding: 10px 0px;
}

.form-control:last-child{
  padding-bottom: 50px;
}

.social-logo{
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  margin: 5px 5px;
  padding: 3px;
}

footer .bg-secondary{
  padding: 10px 0px;
}


#start{
  color: #1ABC9C;
}
