*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mix */
.text-content-white{
  color: white;
  text-align: center;
}

.prova{
  background-color: #1ABC9C;
}

h2{
  text-align: center;
}

.blue.background{
  background-color: #2C3E50;
  text-align: center;
}

.green.background{
  background-color: #1ABC9C;
}

.lightblue.background{
  background-color: #3A546D;
}

.container.hero{
  background-color: #1ABC9C;
  max-width: 600px;
  margin: auto;
}

.container.portfolio{
  margin-bottom: 20px;
}

.portfolio img{
  margin-bottom: 10px;
  border-radius: 5px;
}

.small_container{
  max-width: 600px;
  margin: auto;
}
