*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

.blue{
  background-color: #2C3E50;
}

.text-white{
  color: white;
}

a{
  padding: 0px 10px;
}

h4, h2, a, h5{
  text-align: center;
  text-transform: uppercase;
}

.green{
  background-color: #1ABC9C;
}

.hero p{
  text-transform: uppercase;
  display: inline-block;
}

.container.hero{
  background-color: #1ABC9C;
  max-width: 600px;
  margin: auto;
}

.container.portfolio{
  margin-bottom: 20px;
  margin-top: 20px;
}

.portfolio img{
  margin-bottom: 10px;
  border-radius: 5px;
}

.small_container{
  max-width: 600px;
  margin: auto;
  padding: 20px 0px;
}

.dif-al{
  text-align: left;
}

.lightblue{
  background-color: #3A546D;
}

.social-logo{
  color: white;
}

#start{
  color: #1ABC9C;
}
.col-md-4{
  float: left;
}
